*.old
*.old.xet
*.old.lang
*.old.inc.php
*.min.js
*.min.js.map
*.min.css
*.min.css.map
*.sql
*.diff
*.patch
*.log
*.map
/activesync/
/archive/
/authors.txt
/authors.xml
/bookmarks/
/courseprotocol/
/ecoman/
/esyncpro/
/etemplate/
/openid/
/ewawi/
/eworkflow/
/collabora/
/groups/
/header.inc.php
/jdots/
/licenses/
/managementserver/
/nbproject/
/news_admin/
/node_modules/
/outdated/
/phpbrain/
/phpfreechat/
/phpgwapi/
/polls/
/projectmanager/
/ranking/
/records/
/registration/
/sambaadmin/
/sitemgr/
/smallpart/
/stylite/
/tracker/
/usage/
/vendor/
/webauthn/
/wiki/
.idea/
addressbook/carddav/
calendar/caldav/
infolog/caldav/
cockroach-data/
messenger/
policy/
profitbricks/
rocketchat/
status/
.mrconfig
acactions/
acactivity2/
acadmin/
acagreements/
acclients/
acdms/
acemailstor/
acerp/
acgroups/
achelper/
aclaf/
aclocation/
acmailprotocol/
acmanager/
acnotify/
acorders/
acreports/
acscheduler/
acsolr/
actaskman/
actaskmon/
actele/
actmclients/
actmentries/
actpm/
infolog/
old_header.inc.php
pixelegg/images/dhxmenu_subar.svg
pixelegg/images/editpaste.svg
pixelegg/images/share.svg
swoolepush/
doc/travis-ci-apache.conf

